
.metrics {
  margin-bottom: 0;
}

.metrics > div {
  border: 0;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 4px;
}

.metrics > div:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.metric {
  font-size: 1.5rem;
}

.panel {
  min-height: 159px;
}