/** Animation :hover **/

.borderColorAnim {
  transition: 0.5s all;
}

/* CSS 4 Selector :has */
.borderColorAnim:hover:has(> .borderColorAnim) {
  border-color: #bbb;
  border-style: dashed;
}

.borderColorAnim:hover {
  border-color: #000;
  border-style: solid;
}

/** Components **/
.comp {
  background-color: #f9f9f9;
  border: 2px dashed #bbb;
  padding: 5px;
}

.comp .comp {
  background-color: #eee;
}
