
.progress {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1rem;
  padding-top: 0.5rem;
}

.passedValue {
  font-size: 1.2rem;
}

.progressBck {
  background: #ffd0d0;
  height: 3.3rem;
  margin: 11px 0 0;
}

.progressBck > .progress-bar {
  overflow: hidden;
}

.passedValue {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 2.7rem;
}

.passedText {
  font-size: 1.3rem;
}

.pie {
  fill: #ffd0d0;
  stroke: green;
  stroke-dasharray: 0 100;
  stroke-width: 32;
  transition: stroke-dasharray 0.3s ease;
}

.chart {
  background: #ffd0d0;
  border-radius: 50%;
  display: inline-block;
  height: 79px;
  margin: 0 0 0 5px;
  transform: rotate(-90deg);
}

.chartText {
  display: inline-block;
  margin: 18px 0 0 12px;
  vertical-align: top;
}

.panel {
  min-height: 159px;
}
