.btn {
  display: inline-block;
  padding: 9px;
  width: 47%;
}

.btn span {
  display: block;
  font-size: 3rem;
  margin: 9px 0 12px;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.date {
  margin: 14px 0 0;
}

.panel {
  min-height: 159px;
}

